<%- include('partials/header') %>
    <div class="container mb-5 mt-5 property-list">
        <br><br>
        <a href="/reservations/list/<%=reservation.guest_id%>">Reservations</a>
        <br><br>
        <h3>Your reservation is Confirmed</h3>
        &nbsp;You're going to <%=properties.city%>.
        <br><br>
        <div class="row">
            <div class="col col-md-6 d-flex align-items-stretch">
                <br>
                <img src="<%= properties.photo%>" class="img-wrapper" alt="Property <%= properties.id %>" style="width:80%">
            </div>
            
            <div class="col col-md-6 d-flex align-items-stretch">
                <div class="card" style="width: 80%;">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <h6 class="card-subtitle mb-2 text-muted"></h6>
                      <p class="card-text"><%= parseFloat(new Date(reservation.check_out_date).getDate() - new Date(reservation.check_in_date).getDate())%> nights in <%=properties.title%></p>
                      <p><%=properties.bedrooms%> bedrooms &#x2022; <%=properties.beds%> beds</p>
                      <hr>
                      <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                        <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/>
                      </svg> &nbsp;<%= reservation.number_of_guests.adults %> adults, <%= reservation.number_of_guests.children %> children</p>
                      <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                      </svg>&nbsp;<%= new Date(reservation.check_in_date.getTime() + (24 * 60 * 60 * 1000)).toLocaleDateString() %> &rarr;  <%= new Date(reservation.check_out_date.getTime() + (24 * 60 * 60 * 1000)).toLocaleDateString() %></p>
                      <hr>
                      <p>Total price <span style="float:right;"><%= reservation.price %></span></p>
                      
                    </div>
                  </div>
            </div>
        </div>
        <h4>Hosted by <%= properties.host%></h4>
        <p>Booked on  <%= new Date(reservation.booking_date).toLocaleDateString() %></p>

        <br>
        <form method="POST" action="/reservations/<%= reservation._id %>/delete?_method=DELETE">
            <%if (delete_res == true){%>
              <button type="submit" class="btn btn-danger">Cancel Reservation</button>
            <%}%>
            
            <%if (delete_res == false){%>
              <button type="submit" class="btn btn-danger" disabled>Cancel Reservation</button>
             <%}%>
            
        </form>

    </div>

    <%- include('partials/footer') %>