<%- include('partials/header') %>

    <div class="container mb-5 mt-5 p-5">
        <br>
        <%if (message){%>
            <div class="alert alert-warning search-msg me-5 ms-5">
                <%=message%>
            </div>
            <%}%>

        <br><br>
        <div class="row">
            
            <div class="col-md-4">
                <form action="/reservations/<%=properties._id%>/<%=guest%>/add" method="POST">
                            <div class="form-group p-2">
                                <label>Check in Date<span style="color:red"> * </span></label>
                                <input type="date" id="checkin" name="checkin" value="" class="form-control" required
                                    onchange='check()' onkeyup="check()">
                            </div>
                            <div class="form-group p-2">
                                <label>Check out Date <span style="color:red"> * </span></label>
                                <input type="date" id="checkout" name="checkout" value="" class="form-control" required
                                    onchange='check()' onkeyup="check()">
                            </div>
                            <div class="form-group  p-2">
                                <label>Number of Adults <span style="color:red"> * </span></label>
                                <input type="number" id="adults" name="adults" value="0" min="1" step="1"
                                    class="form-control" required>
                            </div>
                            <div class="form-group p-2">
                                <label>Number of Children<span style="color:red"> * </span></label>
                                <input type="number" id="children" name="children" value="0" min="0"
                                    class="form-control" required>
                            </div>

                            <span id='message1' style="color:red">Dates are not valid please change the dates</span>
                            <br>
                            <!--
                <div class="form-group col-md-5 p-2">
                    <label>Price</label>
                    <input type="text" id="price" name="price" value="" class="form-control" disabled>
                </div>
                -->
                            <br>
                            <div class="form-group p-2">
                                <button type="submit" id="add" class="btn btn-outline-dark">Add Reservation</button>
                            </div>

                </form>
            </div>
            <div class="col-md-2">
                </div>
            <div class="col-md-6">
                <h5>Available Dates for <%=properties.title%>
                </h5>
                <div class="row pb-3">
                    <% var i=0; properties.availability.forEach(function(dates){ %>
                        <div style="padding: 10px;">
                            <input type="date" name="availability[from_<%= i %>]" id="avail_from"
                                value="<%=new Date(dates.from).toISOString().split('T')[0]%>" disabled>
                            <input type="date" name="availability[to_<%= i %>]" id="avail_to"
                                value="<%=new Date(dates.to).toISOString().split('T')[0]%>" disabled>
                        </div>
                        <% i +=1; }); %>
                </div>

            </div>
        </div>
        <script>

            var date1 = document.getElementById("checkin");
            var date2 = document.getElementById("checkout");


            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();
            today = yyyy + '-' + mm + '-' + dd;

            var check = function () {

                if (date1.value.valueOf() < today.valueOf() || date2.value.valueOf() < today.valueOf() || date1.value.valueOf() > date2.value.valueOf()) {
                    document.getElementById('message1').style.display = "block"
                }
                else {
                    document.getElementById('message1').style.display = "none"
                    document.getElementById("add").disabled = false;
                }
            }


        </script>


    </div>


    <%- include('partials/footer') %>