<%- include('partials/header') %>


    <div class="container mb-5 mt-5 property-list">
        <br><br>

            <%if (host == false){%>
                <form action="/reservations/<%=property._id%>/new?_method=GET" method="POST">
                    <button type="submit" class="btn btn-danger">Reserve</button>
                </form>
                <%}%>
                    
        <br><br>
        <div class="row">
            <h2><%= property.title %></h2>
            <a href="/addfavourite?id=<%=property._id%>&title=<%=property.title%>&city=<%=property.city%>&show=1" class="like-button " title="Like Button" style="color:red">
               <%if (host == false){%>
                <%if (user_details){%>
                <% if (user_favourites.includes(property._id.toString())) { %>
                  saved <i class="fa fa-heart"></i>
                  <%} else { %>
                    save <i class="bi bi-heart"></i>
                    <% } %>
                  <%}else{%>
                    save <i class="bi bi-heart"></i>
                    <%}%>
                    <%}%>
                  </a>
            <div class="col-7 p-4 ps-2 pe-5">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <% for(var i=1; i < (property.all_photos).length; i++) { %>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%=i%>"
                            aria-label="Slide <%=i+1%>"></button>
                            <% } %>
                       
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src= "<%= property.all_photos[0]%>" class="d-block w-100" alt="Image" />
                        </div>
                        <% for(var i=1; i < (property.all_photos).length; i++) { %>
                        <div class="carousel-item">
                            <img src="<%= property.all_photos[i]%>" class="d-block w-100" alt="Image" />
                        </div>
                        <% } %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-4 p-4 ps-5">
                <h2>Amenities</h2><br/>
                <% for(var i=0; i < (property.amenities).length; i++) { %>
                    <li class="p-2">&nbsp;&nbsp;&nbsp;<%=property.amenities[i]%></li>
                    <% } %>
            </div>
            <div className='ps-2'>
                <h4>Hosted by <%= property.host%></h4>
                <%= property.bedrooms%> Bedrooms with <%= property.beds%> Beds<br /><br />

                <%= property.full_description%><br /><br />
                City: &nbsp;&nbsp;<%= property.city%><br />
                Capacity:  &nbsp;&nbsp; <%= property.capacity%><br />
                Location: &nbsp;&nbsp;<%= property.location.street%>, <%= property.location.city%>, <%= property.location.state%>, <%= property.location.country%>, <%= property.location.zipcode%><br />
                Property type:  &nbsp;&nbsp; <%= property.property_type%><br /><br/>
               
                Nightly fee: &nbsp;&nbsp; <%= property.nightly_fee%><br />
                Cleaning fee: &nbsp;&nbsp; <%= property.cleaning_fee%><br />
                Service fee: &nbsp;&nbsp; <%= property.service_fee%><br /><br />

            

                <h5>Available Dates</h5>
                
                <div class="row text-center col-md-3 pb-3">
                    <%	var i = 0; property.availability.forEach(function(dates){ %>
                    <div style="padding: 10px;">
                        <input type="date"
                                name="availability[from_<%= i %>]"
                                id="avail_from" value="<%=new Date(dates.from).toISOString().split('T')[0]%>" disabled>
                        <input type="date" 
                                name="availability[to_<%= i %>]"
                                id="avail_to" value="<%=new Date(dates.to).toISOString().split('T')[0]%>" disabled>
                    </div>
                    <% i += 1; }); %>
                </div>


                <%if (property.house_rules.replace(' ','') != ''){%>
                    <h5>House rules </h5><%= property.house_rules%><br />
                <%}%>
                <br/>
                <%if (property.cancellation_policy.replace(' ','')!=''){%>
                    <h5>Cancellation policy </h5>
                    <%= property.cancellation_policy%><br />
                    <%}%>
                <br/><br/>
                <h5>Rating</h5>&nbsp;&nbsp;
                
                <% for(var i=0; i < (parseFloat(property.rating)/parseFloat(property.num_rating)); i++) { %>
                    <span class="fa fa-star checked"></span>
                    <% } %>&nbsp;&nbsp;
                    <%if (parseInt(property.num_rating) == 0){%>
                        <%= parseFloat(property.rating)%> <span>&#183;</span> <%= property.num_rating%> Reviews
                        <%}else{%>
                        <%= parseFloat(property.rating)/parseFloat(property.num_rating)%> <span>&#183;</span> <%= property.num_rating%> Reviews
                        <%}%>
                <br><br><h5>Reviews</h5>
                
                <% property.reviews.forEach(function(review){ %>
                    
                    <%if (review.username){%>
                        <div class="col-md-6">
                            <h5>
                                <%= review.username %>
                                <span class="gig-rating text-body-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15" height="15">
                                        <path
                                            fill="currentColor"
                                            d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"
                                        ></path>
                                    </svg>
                                    <%= review.rating %>
                                </span>
                            </h5>
                            <div class="country d-flex align-items-center" style="font-size:12px;">
                                <%= new Date(review.date_posted).toLocaleDateString() %>
                            </div>
                            <div class="review-description">
                                <p style="font-size:17px;">
                                    <%= review.comment %>
                                </p>
                            </div>
                          
                        </div>
                     <br />
                    <%}%>
                <%})%>
            </div>
        </div>

        <br>
        <%if (host){%>
        <a class="btn btn-warning" href="/properties/<%= property._id%>/edit" role="button">Edit property</a><br><br><br>
        <%if (property.status == 'available'){%>
        <form method="POST" action="/properties/<%= property._id %>?_method=DELETE&value=1">   
            <button type="submit" class="btn btn-danger">Delete property</button>
        </form>
            <%}else{%>
                <form method="POST" action="/properties/<%= property._id %>?_method=DELETE&value=2">   
            <button type="submit" class="btn btn-danger">Make property available</button>       
        </form>
        <%}%>    
        <%}else{%>
            <a class="btn btn-primary" href="/properties/<%= property._id%>/review" role="button">Rate property</a><br><br><br>
            <%}%>
    </div>

    <%- include('partials/footer') %>




